/* colors:
BLUE rgba(114,137,218,255)
GREY rgba(153,170,181,255) <!-- GREY -->
LIGHT GREY rgba(240,240,240,255)
YELLOW (255,192,0,255)
BLACK rgba(35,39,42,255)
} */



/*Round edges of the P5 sketch*/
canvas {
  border-radius: 22px;
}



.menu_title {
	background-color:rgba(114,137,218,255);
	/* padding:1.5em; */
	/* border: 1em solid rgba(114,137,218,255); */

}
.title {
	background-color:rgba(114,137,218,255);
}

.menu{

		/* width:100%; */



}

.header_container{

}

.header {
  display: block;
  justify-content: space-between;

}

.navbar {
  text-align: center;
  margin: auto;
  display:flex;
  justify-content: space-between;
  list-style-type: none;

  background-color:rgba(153,170,181,255);
  
  padding:20px;
}
.navbar-brand{
  border-radius: 10px;


}


.navbar-header{

  border-radius: 10px;
  border: 0.1em rgba(240,240,240,255);

}
.nav-item {
  display: inline-block;
  background-color:rgba(114,137,218,255);
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 1.2em;
  transition-duration: 0.6s;
}



.nav-item:hover {
  background-color: rgba(255,192,0,255);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.loginRegisterButton {
  background-color:rgba(114,137,218,255);
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 1.2em;
  transition-duration: 0.6s;
}
.loginRegisterButton:hover {
  background-color: rgba(255,192,0,255);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.form-box {
  width: 300px;
  margin: auto;
  padding: 5px 5px;
  border-radius: 20px; 
  background: #d3d3d3;
  margin-top: 100px;
  text-align: center;
}

.form-group {
  margin-bottom: 5px;
}

/* index pag */

.post_node {

  border-radius: 10px;
  padding: 10px;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
  background: rgba(240,240,240,255);
}

.post_title {
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0.5px 0.5px #ffc000;
}

.post_content {
  margin-bottom: 5px;
  padding: 0px 10px;
  
  display: flex;
  justify-content: space-between;
  background-color: lightyellow;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.post_footer {
  display: flex;
  /* justify-content: space-between; */
}

.post_img {
	height:2em;
	width:2em;
  
}

.comment_node {
  display: flex;
  /* justify-content: space-between; */
  background-color: lightgrey;
  border-radius: 10px;
  padding: 3px 10px;
  margin: 10px;

}

.comment_author {
  font-weight: bold;
  text-align: left;
  color: black;
}

.comment_author a {
  font-weight: bold;
  text-align: left;
  color: grey;
  
  
}

.comment_content {

}

.footer_box {

  left: 0;
  bottom: 0;
  width: 100%;

  background-color: white;
}

.footer_content {
  display: flex;
  justify-content: space-between;
}

.like_button{
  background-color:rgba(240,240,240,255);
  border: 0.1em 0.1em  rgba(35,39,42,255);
  color: rgba(35,39,42,255);
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  border-radius: 1em;
}

.like_button {
  transition-duration: 0.6s;
}

.like_button:hover {
  background-color: rgba(255,192,0,255);
  color: rgba(114,137,218,255);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

table{
	width:100%;
	box-shadow: 1px 1px 1px navy;
	text-align:center;
	background-color:rgb(153,252,255);
}

table, th, td {
  border: 3px solid;

  text-align: center;
  padding: 1em;
}

table th{
	background-color: rgb(77,166,255);
}

table td{
	background-color: rgb(102,230,255);
}
