/* div {
  border: 1px solid blue;
} */

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid blue;
}

.error_msg {
  color: red;
}

.menu {
  margin: auto;
  margin-right: 20px;
}

.nav-list {
  display: flex;
  list-style-type: none;
}

.nav-item {
  margin-left: 20px;
  text-align: center;
  padding: 10px;
}

.nav-item a {
  color: darkblue !important;
}

.form-box {
  width: 300px;
  margin: auto;
  padding: 5px 5px;
  border-radius: 20px;
  border: 1px solid black;
  margin-top: 20px !important;
  text-align: center;
}

.form-group {
  margin-bottom: 5px;
}

/* index page */
.content {
  margin-top: 10px;
  margin-bottom: 60px;
}

.view {
  display: flex;
  margin: 0px 20px;
}

.post_box {
  width: 75%;
}

.leader_box_title {
  display: flex;
  justify-content: space-around;
  height: 100px;
}

.leader_box {
  /* border: 2px solid blue; */
  width: 25%;
}

.leader_box img {
  height: inherit;
}

.leaderboard_top {
  margin-bottom: 20px;
}

.post_node {
  border: 1px solid blue;
  border-radius: 10px;
  padding: 10px;
  width: 95% !important;
  margin: auto;
  margin-bottom: 10px;
}

.post_node .clicked {
  background: blue;
}

.post_title_node {
  display: flex;
}

.post_img {
  margin: auto;
  margin-left: 0px;
  margin-right: 0px;
}

.post_title {
  font-weight: bold;
  font-size: 20px;
  margin: auto;
  margin-left: 5px;
  margin-right: 0px;
}

.post_tags {
  display: flex;
  margin: 0px 10px;
}

.tag {
  color: white;
  background: gray;
  border-radius: 5px;
  padding: 5px 5px;
  margin: 2px 2px;
}

.post_content {
  margin-bottom: 5px;
  padding: 0px 10px;
  background: lightblue;
}

.post_footer {
  display: flex;
  /* justify-content: space-between; */
  margin: 10px 20px;
}

.post_author {
  margin: 0px 10px;
  font-weight: bold;
}

.comment_node {
  display: flex;
  /* justify-content: space-between; */
  /* border: 1px solid red; */
  background-color: lightgrey;
  border-radius: 10px;
  padding: 3px 10px;
  margin: 10px;
}

.comment_author {
  font-weight: bold;
  width: 15%;
  text-align: left;
  line-height: 30px;
}

.comment_content {
  width: 50%;
  text-align: left;
  line-height: 25px;
}

.comment_content input {
  width: 90%;
}

.comment_date {
  width: 20%;
  text-align: left;
  line-height: 30px;
}

.comment_node .forum_button {
  width: 15%;
  display: flex;
  justify-content: flex-end;
}

.footer_box {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border: 1px solid blue;
  background-color: white;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.profile_box {
  width: 500px;
  margin: auto;
}
